// Main
.about-us {
    margin-top: 3.5rem;
    p{
        margin-bottom: 0;
    }
    .tmdb {
        margin-top: 3rem;
        font-size: 0.9rem;
    }
    svg {
        width: 5rem;
        margin-top: 0.5rem;
    }
}