// Main
@use '../base/misc' as *;

.about-us {
    margin-top: 3.5rem;
    padding: $page-padding;
    position: relative;
    top: 5rem;
    p{
        margin-bottom: 0;
    }
    .tmdb {
        margin-top: 3rem;
        font-size: 0.9rem;
    }
    svg {
        width: 5rem;
        margin-top: 0.5rem;
    }
}

@media (min-width: 50em) {
    .about-us {
        font-size: 1.8rem;
        top: 6rem;
        p {
            font-size: 1.2rem;
        }
    }
}