// Footer
@use '../base/misc' as *;

footer {
    background-color: $nav-color;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    margin-top: auto;
    p{
        font-size: 0.9rem;
    }
    svg {
        fill: $text-color;
    }
}