// Header
@use '../base/misc' as *;

header {
    background-color: $nav-color;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    position: relative;
    .home-logo {
        z-index: 100;
        margin: 1rem;
        max-width: 100%;
        a {
            text-decoration: none;
            color: $text-color;
            svg {
                position: absolute;
                width: 180px;
                height: 48px;
                top: 1rem;
                will-change: transform;
                transition: transform 0.2s ease-in-out;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}