// Home page
@use '../base/misc' as *;

.home-content {
    max-width: 532px;
    margin: 2.5rem auto;
    padding: $page-padding;
    margin-top: 8rem;
    .sort-buttons {
        margin-bottom: 3rem;
        ul {
            display: grid;
            grid-template-columns: repeat(2, 130px);
            grid-gap: 1rem;
            align-items: center;
            justify-items: center;
            justify-content: center;
            padding: 0;
            height: 8rem;
            li {
                list-style: none;
                a {
                    background-color: $text-color;
                    color: black;
                    border-radius: 0.5rem;
                    padding: 1rem 0;
                    display: block;
                    width: 120px;
                    text-align: center;
                    &:hover {
                        background-color: $hover-color;
                    }
                    &.active {
                        background-color: $hover-color;
                    }
                }
            }
        }
    }
}

.search {
    z-index: 1002;
}

.top-btn {
    width: 6rem;
    margin: 0 auto;
    .arrow {
        width: 6rem;
    }
}

.movies {
    max-width: 380px;
    margin: 0 auto;
    .movie {
        max-width: 380px;
        position: relative;
        margin-bottom: 3rem;
        .movie-info {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 6px;
            background-color: rgba(0, 0, 0, 0.820);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            &:hover, &:active, &:focus {
                opacity: 1;
            }
            svg {
                width: 3rem;
                position: absolute;
                right: 1rem;
                top: 1rem;
                cursor: pointer;
            }
            .st0 {
                fill: white;
            }
        }
    }
}


.title-overview {
    position: absolute;
    top: 4.5rem;
    left: 1rem;
    padding-right: 0.5rem;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    p {
        margin-top: 0.5rem;
    }
}
.release {
    position: absolute;
    left: 1rem;
    top: 0;
}
.link {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $text-color;
    color: black;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}
.rating {
    position: absolute;
    left: 1rem;
    top: 2.3rem;
    border: solid 2px $text-color;
    padding: 0.2rem 0.4rem;
}

@media (min-width: 330px) {
    .title-overview {
         top: 8rem;
    }
    .link {
        bottom: 4rem;
    }
}

@media (min-width: 350px) {
    .title-overview {
         top: 8rem;
    }
    .link {
        bottom: 4rem;
    }
}

@media (min-width: 45em) {
    .home-content {
        margin-top: 6rem;
        .sort-buttons {
            margin-bottom: 0;
            ul {
                display: flex;
            }
        }
    }

    .top-btn {
        margin-top: 2rem;
        transition: transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }

    .movie-info {
        .st0:hover {
            fill: red;
        }
    }

    .link:hover {
        background-color: $hover-color;
    }
}

@media (min-width: 58em) {
    .home-content {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 5.8rem;
        .sort-buttons {
            margin-bottom: 1rem;
            ul {
                margin: 0;
                display: flex;
                li {
                    margin: 0 2rem;
                }
            }
        }
    }

    .movies {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 4rem;
        margin: 0 5rem;
        .movie {
            margin-bottom: 0;
        }
    }

}

@media (min-width: 80em) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 104em) {
    .movies {
        grid-template-columns: repeat(4, 1fr);
    }
}