@use '../base/misc' as *;

.slideshow-wrapper {
    position: relative;
    top: 5rem;
    .slideshow {
        position: relative;
        height: 33rem;
        z-index: -1;
        &::before {
            @include cover;
          }
        img {
            display: block;
            object-fit: cover;
            min-height: 33rem;
            opacity: 0;
            position: absolute;
            transition: opacity 0.3s ease-in-out;
            &.active {
                opacity: 1;
            }
        }
    }
    .slide-info-wrapper {
        position: absolute;
        top: 4rem; 
        width: 100%;
        .slide-info {
            @include stretch;
            display: block;
            transition: opacity 0.3s ease-in-out;
            z-index: 2;
            text-align: center;
            padding: $page-padding;
            &.active {
                opacity: 1;
            }
            h1 {
                font-size: 2.1rem;
                margin: 0;
            }
            a {
                @include center-absolute;
                background-color: $text-color;
                color: black;
                padding: 1rem 1.3rem;
                border-radius: 0.5rem;
                bottom: -13.5rem;
            }
            p {
                margin: 0;
                font-size: 0.8rem;
                color: $text-color;
            }
            div {
                display: none;
            }
        }
    }
    .indicators {
        @include center-absolute;
        display: flex;
        bottom: 2rem;
        .indicator {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin: 0 0.5rem;
          cursor: pointer;
          background-color: gray;
          transition: background-color 0.3s ease-in-out;
          &.active {
            background-color: #fff;
          }
        }
    }
}

@media (min-width: 58em) {
    .slideshow-wrapper {
        .slideshow {
            height: 45rem;
            img{
                width:100%;
                height: 50rem;
                top: -5rem;
            }
        }
        .slide-info-wrapper {
            top: 6rem;
            .slide-info {
                text-align: center;
                h1 {
                    font-size: 3rem;
                }
                a {
                    bottom: -22rem;
                }
                p {
                    font-size: 1.2rem;
                }
                .movie-rating {
                    @include rating;
                    @include center-absolute;
                    font-size: 1.4rem;
                    top: 12rem;
                    padding: 0.3rem 0.5rem;
                }
            }
        }
    }
}